WebService/WebContent/wsdl/TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test.geek.it" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test.geek.it" xmlns:intf="http://test.geek.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test.geek.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="print">
    <complexType>
     <sequence>
      <element name="prova" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="printResponse">
    <complexType>
     <sequence>
      <element name="printReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="printRequest">

      <wsdl:part element="impl:print" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="printResponse">

      <wsdl:part element="impl:printResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestService">

      <wsdl:operation name="print">

         <wsdl:input message="impl:printRequest" name="printRequest">

       </wsdl:input>

         <wsdl:output message="impl:printResponse" name="printResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestServiceSoapBinding" type="impl:TestService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="print">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="printRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="printResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestServiceService">

      <wsdl:port binding="impl:TestServiceSoapBinding" name="TestService">

         <wsdlsoap:address location="http://localhost:8080/WebService/services/TestService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
